p{
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  margin: 0px;
  padding-top: 80px;
  padding-left: 95px;
  padding-right: 25px;
  background-color: rgba(211, 211, 211, 0.103);
  font-family: Roboto, Arial;
  
}